################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VRGHeightMap/.vs/VRGHeightMap
/VRGHeightMap/HeightMapConsoleApp/obj
/heightmap_ASCII.zip
/VRGHeightMap/HeightMapApp/obj
/VRGHeightMap/HeightMapTools/obj
/VRGHeightMap/.vs/ProjectEvaluation
/VRGHeightMap/HeightMapConsoleApp/bin/Debug/net8.0
/VRGHeightMap/HeightMapTools/bin/Debug/net8.0
/VRGHeightMap/HeightMapConsoleApp/bin/Release/net8.0
/VRGHeightMap/HeightMapTools/bin/Release/net8.0
/VRGHeightMap/HeightMapApp/bin/Debug/net8.0-windows
